body {
  background-color: #FFFCF9;
  /*padding-top: 40px;*/
  /*padding-bottom: 20px;*/
  font-size:1.6rem;
}
td{
  font-size:1.6rem;
}
.alert{
  margin: 15px 0px 10px 0px;
  color: black;
}
h1{
  color: #1ab08a;
}
.infoSection{
  padding-bottom: 15px;
}

.panel-danger{
  margin-top: 20px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
  /*https://stackoverflow.com/questions/6382023/changing-the-color-of-a-hr-element*/
  background-color: #aaaaaa; height: 1px; border: 0;
  margin: 0px 0px 3px;
}
.test{
  width:80%;
}
